:root {
  --button--background-color: var(--color-primary);
  --button--border-color: var(--color-primary);
  --button--border-radius: var(--radius-border-l);
  --button--cursor: default;
  --button--filter: none;
  --button--font-family: var(--font-family);
  --button--font-size: var(--font-size-m);
  --button--font-weight: var(--font-weight-bold);
  --button--foreground-color: var(--color-white);
  --button--opacity: 1;
  --button--outline-color: rgba(var(--color-primary), 0.75);
  --button--padding: 0.625rem 1.25rem;
  --button--text-transform: uppercase;
  --button--width: auto;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--button--background-color), var(--button--opacity));
  border: 2px solid rgba(var(--button--border-color), var(--button--opacity));
  border-radius: var(--button--border-radius);
  color: rgb(var(--button--foreground-color));
  cursor: var(--button--cursor);
  padding: var(--button--padding);
  filter: var(--button--filter);
  font-family: var(--button--font-family);
  font-size: var(--button--font-size);
  font-weight: var(--button--font-weight);
  text-transform: var(--button--text-transform);
  outline: none;
  width: var(--button--width);
}
.button:focus-visible {
  outline-color: var(--button--outline-color);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 0.1rem;
}

.button:hover {
  --button--opacity: 0.75;
}
.button:active {
  --button--filter: brightness(0.9);
}
.button:disabled,
.button:disabled:active,
.button:disabled:hover {
  --button--filter: none;
  --button--opacity: 0.5;
  --button--cursor: not-allowed;
}

button.fullWidth {
  --button--width: 100%;
}
button.pill {
  --button--border-radius: var(--radius-border-pill);
}

.button.link {
  --button--padding: 0;
  --button--text-transform: none;
  --button--border-radius: var(--radius-border-none);
}
.button.minimal,
.button.link {
  --button--background-color: transparent;
  --button--border-color: transparent;
  --button--foreground-color: var(--color-primary);
}
.button.minimal:hover {
  --button--opacity: 0.15;
  --button--background-color: var(--color-primary);
}
.button.link:disabled:hover,
.button.minimal:disabled:hover {
  --button--opacity: 0;
}

.xs {
  --button--border-radius: var(--radius-border-l);
  --button--font-size: var(--font-size-xs);
  --button--padding: 0.5rem 0.75rem;
}
.s {
  --button--font-size: var(--font-size-s);
  --button--padding: 0.5rem 0.75rem;
}
.l {
  --button--font-size: var(--font-size-l);
  --button--padding: 0.75rem 1.25rem;
}
.xl {
  --button--font-size: var(--font-size-xl);
  --button--padding: 0.875rem 1.5rem;
}

.success {
  --button--background-color: var(--color-success);
  --button--border-color: var(--color-success);
}
.success.link,
.success.minimal {
  --button--foreground-color: var(--color-success);
}
.success.minimal:hover {
  --button--background-color: var(--color-success);
}
.success:focus-visible {
  --button--outline-color: rgba(var(--color-success), 0.5);
}

.alert {
  --button--background-color: var(--color-alert);
  --button--border-color: var(--color-alert);
}
.alert.link,
.alert.minimal {
  --button--foreground-color: var(--color-alert);
}
.alert.minimal:hover {
  --button--background-color: var(--color-alert);
}
.alert:focus-visible {
  --button--outline-color: rgba(var(--color-alert), 0.5);
}

.warning {
  --button--background-color: var(--color-warning);
  --button--border-color: var(--color-warning);
}
.warning.link,
.warning.minimal {
  --button--foreground-color: var(--color-warning);
}
.warning.minimal:hover {
  --button--background-color: var(--color-warning);
}
.warning:focus-visible {
  --button--outline-color: rgba(var(--color-warning), 0.5);
}
