@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    font-size: 14px;
}
